.audio-tag {
	position: relative;
}

.audio-wrapper {
    position: relative;
    display: flex;
    background: #f1f3f3;
    padding: 15px;
    text-align: center;
    justify-content: center;
}

.audio-wrapper #play {
    display: none;
    font-size: 20px;
}

.audio-wrapper #pause {
    display: none;
    font-size: 20px;
}

.audio-wrapper #volume_control_off {
    display: none;
    font-size: 20px;
}

.audio-wrapper #volume_control {
    font-size: 20px;
}

.audio-status-icon {
    margin: auto 0;
    margin-right: 15px;
}

#timeline {
    margin: auto 0;
    margin-right: 15px;
}

.status-wrapper {
    position: relative;
    display: flex;
    margin: auto 0;
    margin-right: 15px;
}

.status-wrapper .ring {
    background: black;
    height: 13px;
    width: 13px;
    border-radius: 100%;
}

.status-wrapper .line {
    height: 3px;
    width: 80px;
    background: #aeaeae;
    margin: auto 0;
    align-items: center;
}

audio {
	margin: auto;
	display: block;
    background: #f1f3f3;
}

.audio-status {
	width: 250px;
    background: #000;
    color: #fff;
    margin: auto;
    padding: 0px 25px;
}

.title-wrapper {
	padding: 15px 0;
}

.station-name {
	font-size: 112px;
    font-weight: 700;
    text-align: center;
}

.city-name {
	background: #378ec1;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    font-size: 46;
    font-weight: 700;
    width: 220px;
    margin: auto;
}

.social-panel {
	text-align: center;
	padding: 35px 0;
	display: flex;
	justify-content: center;
}

.social-status {
	display: none;
}

.social-wrapper {
	position: relative;
	padding: 0 5px;
}

.social-wrapper i {
	display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.7em;
    font-size: 25px;
    background: #6ec1e4;
    color: white;
}

i.fa-instagram {
	display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    font-size: 25px;
    background: #6ec1e4;
    color: white;
}

.custom-icon {
	height: 30px;
    width: 30px;
    background: #6ec1e4;
    border-radius: 50%;
    flex: 1;
    padding: 10px;
}

.logo img {
    width: 100%;
    height: auto;
}


